
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.button {
    font-family: 'Roboto', sans-serif;
    --webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.75);
    width: 25%;
    font-weight: 800;
}

